# SP500 Attempt to predict index using other indicators
http://gonzalopla.com/predicting-stock-exchange-prices-with-machine-learning/
NIE DOKONCZONE

In [10]:
import pandas as pd
import xgboost as xgb
import numpy as np
import datetime as dt
import pyodbc
import datetime
import plotly.express as px
import sqlite3
import os

In [7]:
#Destination folder (comment unused directory)
#1 
os.chdir("C:/Users/Lukasz/Documents/GitHub/Analysis-and-forecast-of-stock-exchange-price-based-on-selected-indicators-using-machine-learning/data")
#2
#os.chdir("F:/GitHub/Analysis-and-forecast-of-stock-exchange-price-based-on-selected-indicators-using-machine-learning/data")

# Create your connection.
conn = sqlite3.connect('predictions.db')
c = conn.cursor()

In [9]:
indicator="SP500"
#Get SQLLite select statement for SP500 index and indicators
df = pd.read_sql_query("""select x."Date", c19."Index" Covid19, co."Index" as Crude_Oil, 
cr."Index" as Copper, s."Index" as Silver, p."Index" as Platinum,
ip."Index" as Industrial_Production, pa."Index" as Palladium, x."Index" as """+indicator+"""
 from """+indicator+""" as x
  LEFT OUTER JOIN Covid19 as c19 ON x.Date = C19.Date
  LEFT OUTER JOIN Crude_Oil as co ON x.Date=co.Date
  LEFT OUTER JOIN Copper as cr ON x.Date=cr.Date
  LEFT OUTER JOIN Silver as s ON x.Date=s.Date
  LEFT OUTER JOIN Platinum as p ON x.Date=p.Date
  LEFT OUTER JOIN Industrial_Prod as ip ON strftime('%Y-%m', x.Date)=strftime('%Y-%m', ip.Date)
  LEFT OUTER JOIN Palladium as pa ON x.Date=pa.Date
Where x."Index" and co."Index" and cr."Index" and s."Index" and p."Index"
and ip."Index" and pa."Index" IS NOT NULL
and x.Date < '2020-04-01'
""", conn)

df.tail()

,Date,Covid19,Crude_Oil,Copper,Silver,Platinum,Industrial_Production,Palladium,SP500
2510,2020-03-25 00:00:00,416881.0,24.49,2.2040,13.965,745.50,103.664,2247.6,2475.56
2511,2020-03-26 00:00:00,468092.0,22.60,2.1780,14.415,737.10,103.664,2226.1,2630.07
2512,2020-03-27 00:00:00,527839.0,21.51,2.1720,14.315,740.82,103.664,2196.8,2541.47
2513,2020-03-30 00:00:00,715377.0,20.09,2.1555,14.055,723.84,103.664,2197.6,2626.65
2514,2020-03-31 00:00:00,777187.0,20.48,2.2280,13.930,728.80,103.664,2304.8,2584.59

In [14]:
df=df.fillna(0)

In [19]:
target = pd.DataFrame({"value":df.SP500.shift(-1) - df.SP500}).dropna()
target.head()

SyntaxError: invalid syntax (<ipython-input-19-0299d61500bd>, line 1)

In [20]:
X = pd.merge(df, target,left_index=True,right_index=True)[df.columns]
y = pd.merge(df, target,left_index=True,right_index=True)[df.columns]

In [21]:
train_samples = int(X.shape[0] * 0.65)

X_train = X.iloc[:train_samples]
X_test = X.iloc[train_samples:]

y_train = y.iloc[:train_samples]
y_test = y.iloc[train_samples:]

In [22]:
def getBinary(val):
    if val>0:
        return 1
    else:
        return 0

# and the transformation is applied on the test data for later use.
# The train data will be transformed while it is being fit.
y_test_binary = pd.DataFrame(y_test["value"].apply(getBinary)

SyntaxError: unexpected EOF while parsing (<ipython-input-22-ee05f8b7aacc>, line 9)